//default colors

$color-main: #1c1c24;
$color-main-2: lighten( $color-main, 1.2% );

$color-second: #7b062f;
$color-second-2: darken($color-second, 5%);

$color-menu: #7b062f;
$color-menu-2: darken($color-second, 5%);

//font

$font: 'Work Sans', sans-serif;
$font-size: 0.9rem;
$letter-space: 1.3px;

$font-color: #1F001A;
$font-color: #1F001A;
$font-small: 80%;
$text-light: #ddd;
$text-dark: #343a40;
$text-muted: #6c757d;

//links

$aColor: #007bff;
$aColorHover: #0056b3;

//button
$color-btn: #286C00;
$color-btn-bd: darken($color-btn, 5%);
$color-btn-hover: lighten($color-btn, 5%);
$color-btn-hover-bd: $color-btn;

