//default colors
$color1: #2f0c29;
$color2: #41193B;
$color3: #286C00;
$color4: #82001E;
$color5: #310760;
$color6: #7C7400;
$color7: #640054;

/*
//sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
*/

//font
$font: sans-serif;
//$font-size: 1rem;
$font-size: 1.4rem;
$font-color: #1F001A;
$font-small: 80%;
//$text-light: #f8f9fa;
$text-light: #ccc;
$text-dark: #343a40;
$text-muted: #6c757d;

//links
$aColor: #007bff;
$aColorHover: #0056b3;
