*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-max {
    width: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .container-max {
        height: 100vh;
    }
}



/*
---------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------- 
-----------------------------------------------PARALLAXA------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------- 
--------------------------------------------------------------------------------------------------------------- */



.container-header {
    position: relative;
    height: 100%;
    width: 100%;
}

.parallax-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.parallax-sky {
    background-image: url(../img/paralax/sky-bg.png);
    background-attachment: fixed;
    background-position-y: bottom;
    background-size: cover;
}

.parallax1 {
    background-image: url("../img/paralax/1.png");
    background-position: bottom center;
    background-size: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}

.parallax2 {
    background-image: url("../img/paralax/2.png");
    background-position: bottom center;
    background-size: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}

.parallax3 {
    background-image: url("../img/paralax/3.png");
    background-position: bottom center;
    background-size: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}

.parallax4 {
    background-image: url("../img/paralax/4.png");
    background-position: bottom center;
    background-size: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}

.parallax5 {
    background-image: url("../img/paralax/5.png");
    background-position: bottom center;
    background-size: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}

.parallax6 {
    background-image: url("../img/paralax/6.png");
    background-position: bottom center;
    background-size: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}

.parallax7 {
    background-image: url("../img/paralax/7.png");
    background-position: bottom center;
    background-size: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}

.parallax8 {
    background-image: url("../img/paralax/8.png");
    background-position: bottom center;
    background-size: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}

.parallax9 {
    background-image: url("../img/paralax/9.png");
    background-position: bottom center;
    background-size: cover;
}