@import "_myLibary.scss";

// ----------------------------------------------------------------------
// ------------------------------PARALAXA--------------------------------
// ----------------------------------------------------------------------

.container-parallax-max {
    width: 100%;
    max-width: 1980px;
    padding: 0;
    margin: auto;
    overflow: hidden;
    transform: translateY()
}

.container-parallax {
    position: relative;
    height: 900px;
    width: 100%;
}

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.parallax-sky {
    background: url("../img/paralax/sky-bg.png") no-repeat fixed;
    background-size: 100% 100%;
    z-index: -22;
}

.parallax1 {
    background: url("../img/paralax/1.png") no-repeat center;
    z-index: -18;
}

.parallax2 {
    background: url("../img/paralax/2.png") no-repeat center;
    z-index: -18;
}

.parallax3 {
    background: url("../img/paralax/3.png") no-repeat center;
    z-index: -17;
}

.parallax4 {
    background: url("../img/paralax/4.png") no-repeat center;
    z-index: -16;
}

.parallax5 {
    background: url("../img/paralax/5.png") no-repeat center;
    z-index: -15;
}

.parallax6 {
    background: url("../img/paralax/6.png") no-repeat center;
    z-index: -14;
}

.parallax7 {
    background: url("../img/paralax/7.png") no-repeat center;

    z-index: -13;
}

.parallax8 {
    background: url("../img/paralax/8.png") no-repeat center;
    z-index: -12;
}

.parallax9 {
    background: url("../img/paralax/9.png") no-repeat center;
    z-index: -11;
}

// ----------------------------------------------------------------------
// --------------------------------TAGI----------------------------------
// ----------------------------------------------------------------------

body {
    background-color: $color1;
    color: $text-light;
}
