<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Kamil Przybylski - Curriculum Vitae</title>

    <meta name="description" content="Kamil Przybylski - Curriculum Vitae front-end developra poszukującego pracy na poziomie Junior. Strona zawiera portfolio z moimi aplikacjami webowymi">
    <meta name="keywords" content="Kamil, Przybylski, CV, Curriculum, Vitae, portfolio, front-end, developer, html, html5, css, css3, js, ES6, jQuery, Vue.js, Git, gulp">
    <meta name="viewport" content="width=device-width">
    <meta name="referrer" content="origin" />

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="fontello/css/fontello.css">
    <link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon">

    <link rel="stylesheet" href="css/tuesday.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/app-style.css" type="text/css">

</head>

<body>
    <h5 class="sr-only">Strona</h5>

    <!--[if lt IE 7]>
        <p class="browsehappy">Używasz <strong>przestarzałej</strong> przeglądarki. Proszę <a href="https://www.google.pl/chrome/index.html">uaktualnij swoją przeglądarke</a> aby strona wyświetlała się poprawnie</p>
    <![endif]-->

    <header id="section0" class="mb-2">

        <div class="container-fluid">
            <div class="container-header">
                <div class="portfolio-parallax"></div>
                <div class="cv-text special-font">
                    <p class="h1">Curriculum Vitae</p>
                    <p>Kamil Przybylski</p>
                    <p class="h4">~ front-end developer</p>
                </div>
                <div class="info info-portfolio p-1">
                    <i class="icon-question-circle-o"></i>
                    <a href="https://www.vecteezy.com" class="info-link ph-1">Free Vectors via Vecteezy</a>
                </div>
            </div>
        </div>

        <nav class="navigation">
            <h5 class="sr-only">Nawigacja</h5>
            <div id="navbar" class="navbar animated d-none">
                <p class="nav-header h2 special-font"><a href="#section0">Kamil Przybylski</a></p>
                <ul class="nav">
                    <li class="nav-item"><a href="index.html">Strona główna</a></li>
                    <li class="nav-item mt-1 mb-0"><a target="_blank" href="CV - Kamil Przybylski - Front-End.pdf">Pobierz moje CV</a></li>
                </ul>
                <div class="portals nav-portals">
                    <a target="_blank" href="https://www.facebook.com/kyufkhgfv">
                        <i class="icon-facebook-circled-1 portal-icon p-0"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/kamil-przybylski-113295147/">
                        <i class="icon-linkedin-circled-1 portal-icon p-0"></i>
                    </a>
                    <a target="_blank" href="https://github.com/Kamil-Przybylski">
                        <i class="icon-github-circled-alt2 portal-icon p-0"></i>
                    </a>
                </div>
            </div>
            <button class="nav-btn"></button>
        </nav>
    
    </header>

    <!-- /////////////////////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////////////////////// -->

    <main>
        
        <article class="container mb-5 p-1 bg-light">
            <h1 class="special-font">Test Pamięci</h1>
            <p>Aplikacja stworzona za pomocą VueJS. Kod dostępny w źródle.</p>
            <hr>
            
            <div id="app">
                <div class="w-100 mt-1 mb-2">
                    <div class="text-center">
                        <label for="select">Ilość kart: </label>
                        <select id="select" class="select" v-model="number" :disabled="start">
                            <option value="8">8</option>
                            <option value="12">12</option>
                            <option value="16">16</option>
                        </select>
                        <button class="btn btn-prim" @click="createCards" :disabled="start">Stwórz grę</button>
                    </div>
                </div>
    
                <div class="board">

                    <div class="success col-12" v-if="end">
                        <h1 class="pb-1 special-font">Wygrana!</h1>
                        <p class="mb-0">Twój wynik to {{counter}} tur</p>
                    </div>

                    <div class="row" v-else="end">
                        <div class="game-card col-4 col-md-3" v-for="(id, i) in cardId" :data-target="'card-' + i" :class="{ 'correct': correct[id], 'show-card': cards[i].rotated }">
                            <div class="reverse">
                                <img @click.self="showCard(id, i)" src="img/game-1/reverse.jpeg" alt="1">
                            </div>
                            <div class="front">
                                <img :src="'img/game-1/' + id + '.jpeg'" alt="1">
                            </div>
                        </div>
                        <div class="counter col-12" v-show="start">
                            <p class="text-center pt-2">Tura: {{ counter }}</p>
                        </div>
                    </div>
                    
                </div>

            </div>

        </article>

         <!-- /////////////////////////////////////////////////////////////////////// -->
         <!-- /////////////////////////////////////////////////////////////////////// -->
         <!-- /////////////////////////////////////////////////////////////////////// -->


    </main>

    <!-- /////////////////////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////////////////////// -->

    <footer id="section4" class="container-fluid bg-color-second-dark text-white mt-5">
        <h5 class="sr-only">Stopka</h5>
        <div class="container row">

            <div class="row pt-2 w-100 animated1" data-animation="tdFadeIn" data-repeat="true">

                <section class="col-md-6">
                    <h4 class="mb-1">Kontakt:</h4>
                    <div class="row mb-1">
                        <div class="contact-item col-1 p-0"><i class="icon-phone-circled contact-icon"></i></div>
                        <div class="contact-item col-11 p-0"><p>+48 796 542 124</p></div>
                    </div>
                    <div class="row mb-1">
                        <div class="contact-item col-1 p-0"><i class="icon-mail-circled contact-icon"></i></div>
                        <div class="contact-item col-11 p-0"><p>kprzybylski993@gmail.com</p></div>
                    </div>
                    <div class="row mb-1">
                        <div class="contact-item col-1 p-0"><i class="icon-home-circled contact-icon"></i></div>
                        <div class="contact-item col-11 p-0"><p>Przyjmę oferty pracy z Krakowa</p></div>
                    </div>
                </section>

                <section class="col-md-6">
                    <h4 class="pb-1 m-0">Napisz do mnie:</h4>
                    <form id="contactForm" method="POST" class="row" action="https://formspree.io/kminus13@onet.eu">
                        <div class="form-group col-12 p-0 pb-1">
                            <label for="field-email">Email:</label>
                            <input type="email" required name="_replyto" id="field-email" class="form-item" placeholder="Podaj swój e-mail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" data-error="Podaj prawidłowy adres email">
                        </div>
                        <div class="form-group col-12 p-0 pb-1">
                            <label for="field-message">Wiadomość:</label>
                            <textarea class="form-item" required name="message" id="field-message" placeholder="Napisz wiadomość..." rows="3" data-error="Wypełnij te pole"></textarea>
                        </div>
                        <div class="col-10 p-0">
                            <div class="fromServer h-100 text-center d-none">
                                <p>Wysłano wiadomość</p>
                            </div>
                        </div>
                        <div class="col-2 p-0 d-flex j-c-end">
                            <button target="_blank" type="submit" value="Send" class="btn btn-prim">Wyślij</button>
                        </div>
                    </form>
                </section>

            </div>

            <section class="row pv-1 w-100 animated1" data-animation="tdFadeIn" data-repeat="true">

                    <div class="portals col-md-6">
                        <h6 class="mb-1">Znajdziesz mnie na:</h6>
                        <a target="_blank" href="https://www.facebook.com/kyufkhgfv">
                            <i class="icon-facebook-circled-1 portal-icon p-0"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/kamil-przybylski-113295147/">
                            <i class="icon-linkedin-circled-1 portal-icon p-0"></i>
                        </a>
                        <a target="_blank" href="https://github.com/Kamil-Przybylski">
                            <i class="icon-github-circled-alt2 portal-icon p-0"></i>
                        </a>
                        <p class="pt-1 h6">
                            Pobierz moje CV 
                            <a target="_blank" href="CV - Kamil Przybylski - Front-End.pdf">
                                <i class="icon-download-alt"></i>
                            </a> 
                        </p>
                    </div>
    
                <div class="col-md-6">
                    <p>Przyjmuję oferty pracy na stanowisko (junior) front-end developer. Podejmę się pracy na pełny, niepełny etat lub staż.</p>
                    <p>Strona powstała z wykorzystaniem HTML5 SASS Vue.js oraz autorskiej biblioteki CSS wzorowanej na Bootstrap'ie.</p>
                </div>

            </section>

        </div>

        <section class="row text-center bg-color-second pv-1 br-t">
            <h5 class="sr-only">Info</h5>
            <div class="col-lg-8 offset-lg-2">
                <p class="ph-1 pv-0"><small>Wyrażam zgodę na przetwarzanie danych osobowych zawartych w niniejszym dokumencie do realizacji procesu rekrutacji zgodnie z ustawą z dnia 10 maja 2018 roku o ochronie danych osobowych (Dz. Ustaw z 2018, poz. 1000) oraz zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (RODO).</small></p>
            </div>
            <div class="col-12">
                <p class="p-0 m-0"><small>&copy; Coppyright by Kamil Przybylski 2018</small></p>
            </div>
        </section>
    
    </footer>
    

    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/portfolio.js"></script>

</body>
</html>